@model List<MoG.Domain.Models.VMActivity>
<h2 class="page-header">
    @ViewBag.Title
</h2>

<table class="table">
    @foreach (var activity in Model)
    {
     <tr>
         <td width="70"><img class="img-circle" src="@activity.Who.PictureUrl" width="50" /></td>
       
         <td>
             @Html.Raw(activity.Description)<br />
             <small>
                 <span class="js_date">@activity.When.ToString("yyyyMMdd HH:mm:ss")</span> -


                 <a href="@activity.Url">@Resource.PROFILE_SeeDetail</a>
             </small>

         </td>
     </tr>
                       
                 

    }

</table>



<script>
    $(".js_date").each(function () {
        var date = $(this).html();
        var timespan = moment(date, "YYYYMMDD  HH:mm:ss").fromNow();
        $(this).html(timespan);
    });
</script>
