@model MoG.Domain.Models.UserProfileInfo
@{
    ViewBag.Title = @Resource.PROFILE_Avatar;
}
@Styles.Render("~/Content/jQuery.FileUpload/jQueryFileupload")

<div class="row">
    <div class="col-md-12">

        <h1 class="page-header">@Resource.PROFILE_PageTitle</h1>

    </div>
</div>


<div class="row">
    @Html.Partial("_LeftMenu")

    <div class="col-lg-10">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img id="avatarPicture" src="@Model.PictureUrl" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <form id="fileupload" method="POST" enctype="multipart/form-data">
                                <span class="btn btn-success fileinput-button" style="display:none" id="btnSave">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                    <span>Save</span>
                                </span>
                                <div id="uploadControl">
                                    <span class="btn btn-success fileinput-button">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <span>Select file...</span>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input id="fileupload" type="file" name="files">

                                    </span>

                                    <br>
                                    <br>
                                    <!-- The global progress bar -->
                                    <div id="progress" class="progress">
                                        <div class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>
                                <!-- The container for the uploaded files -->
                                <div id="file" class="files"></div>
                                <br>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>






     

    </div>
</div>

@section scripts
    {


    @Scripts.Render("~/bundles/knockout")

<script src="/Scripts/jQuery.Fileupload/jquery.ui.widget.js"></script>
<script src="/Scripts/jQuery.Fileupload/jquery.fileupload.js"></script>

<script>
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var urlUpload = '@Url.Action("UploadAvatar","File")';
        var urlSave = '@Url.Action("SaveAvatar", "File")';
        var userId = '@Model.Id';

        $("#btnSave").on('click', function () {
            var json = {userId : userId};
            $.post(urlSave, json, function (result) {
                if (result.data === true) {
                    window.location.href = result.url;
                }
            })
             .fail(function () {
                 alert("error");
             });

        });
        $('#fileupload').fileupload({
            add: function (e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if (data.originalFiles[0]['type'].length && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('Not an accepted file type (only gif,jpeg,png allowed)');
                }
                if (data.originalFiles[0]['size'].length && data.originalFiles[0]['size'] > 5000000) {
                    uploadErrors.push('Filesize is too big');
                }
                if (uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
            },
            url: urlUpload,
            formData: { userId: userId },
            dataType: 'json',
           
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    //$('<p/>').text(file.name).appendTo('#file');

                    //$('<img>', { src: file.thumbnailUrl }).appendTo('#file');
                    $('#avatarPicture').attr('src', file.thumbnailUrl);
                    $('#uploadControl').hide();
                    $('#btnSave').show();
                   // $img.attr("src",file.thumbnailUrl);
                    //.appendTo('#files')
                });
            },
            fail: function (data) {
                console.dir(data);
                alert(data);
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>
    

}
