@model MoG.Domain.Models.VMProjectActivity
@{
    ViewBag.Title = "Activity";
}
<div class="container">


    @Html.Partial("_TopNavigationTab", Model.Project)
    <div class="row">
        <div class="col-md-12">
            <table class="table  table-striped">
                <thead>
                    <tr>
                        <th class="myspan">Quand</th>
                        <th>Qui</th>
                        <th>Quoi</th>
                        <th>Lien</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var activity in @Model.Activities)
                    {
                        <tr>
                            <td>@activity.When</td>
                            <td>@activity.Who</td>
                            <td>@activity.What</td>
                            <td><a href="track-detail.html">TODO</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">

            <ul class="pagination">
                <li><a href="#">Prev</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>

        </div>
        <div class="col-md-4">
        </div>
        <div class="row">


        </div><!-- /.container -->
    </div>
</div>
