@model MoG.Domain.Models.Project
@{
    ViewBag.Title = "Administration";
}

<div class="container">

    @Html.Partial("_TopNavigationTab", Model)


    <style>
        .btn:not(.btn-block) {
            width: 120px;
            margin-bottom: 10px;
        }

        .adminSection {
            padding-top: 10px;
        }
    </style>
    <div class="row adminSection">
        <div class="col-md-3">
            <div class="row" data-bind="foreach: menuEntries">
                
                    <a href="#" data-bind="click : $parent.btnAdminClicked , css: button" role="button"><span data-bind="css: icon"></span> <br /><span data-bind="text: text "></span></a>

            </div>
            @*<a href="http://www.jquery2dotnet.com/" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Website</a>*@
        </div>

        <div class="col-md-9">
            <div id="dynamicContent"></div>
        </div>
    </div>

    @section scripts
    {
        @Scripts.Render("~/bundles/knockout")


        <script>
            function menuEntry(text, icon, url, button) {
                var self = this;
                self.text = text;
                self.icon = icon;
                self.url = url;
                self.button = button;
            }


            function ProjectAdministrationVM() {

                var self = this;


                self.menuEntries = ko.observableArray([
                @*new menuEntry("Parametres", "glyphicon glyphicon-list-alt", '@Url.Action("AdminSettings","Project", new { id = Model.Id } )', "btn btn-danger btn-lg"),*@
                new menuEntry("Suivi", "glyphicon glyphicon-eye-open", '@Url.Action("AdminTracking", "Project", new { id = Model.Id })', "btn btn-warning btn-lg"),
                new menuEntry("Reports", "glyphicon glyphicon-signal", '@Url.Action("AdminReports", "Project", new { id = Model.Id })', "btn btn-primary btn-lg"),
                new menuEntry("Comments", "glyphicon glyphicon-comment", '@Url.Action("AdminComments", "Project", new { id = Model.Id })',  "btn btn-primary btn-lg"),
                new menuEntry("Collabs", "glyphicon glyphicon-user", '@Url.Action("AdminCollabs", "Project", new { id = Model.Id })', "btn btn-success btn-lg"),
                new menuEntry("Notes", "glyphicon glyphicon-file", '@Url.Action("AdminNotes", "Project", new { id = Model.Id })',  "btn btn-info btn-lg"),
                new menuEntry("Artwork", "glyphicon glyphicon-picture", '@Url.Action("AdminArtwork", "Project", new { id = Model.Id })', "btn btn-primary btn-lg"),
                new menuEntry("Invits", "glyphicon glyphicon-tag", '@Url.Action("AdminInvits", "Project", new { id = Model.Id })', "btn btn-primary btn-lg")

                ]);



                //self.GoTo = function (id) {
                //    console.log("id = " + id);
                //    $.get(self.ProjectAdministration[id], function (data) {
                //        $('#dynamicContent').replaceWith(data);
                //    });

                //};

                self.btnAdminClicked = function (menuEntry) {
                    
                    $.get(menuEntry.url, function (data) {
                                $('#dynamicContent').replaceWith(data);
                            });
                };



            }

            ko.applyBindings(new ProjectAdministrationVM());

            //$(document).ready(function () {
            //    $.get(UrlTabs[0], function (data) {
            //        $('#dynamicContent').replaceWith(data);
            //    });
            //});

        </script>
    }




</div>
