@model MoG.Domain.Models.Project
@{
    ViewBag.Title = "Detail";
}
<div class="container">


    @Html.Partial("_TopNavigationTab", Model)
    <div class="row">
        <div class="col-md-12">
            <hr>
            <p>
                <i class="icon-time"></i> Posted on @Html.DisplayFor(m => m.CreatedOn, "LongDateString")
            </p>
            <hr>
        </div>
    </div>
    <div class="row" id="MainContent">
        <div class="col-md-12">

        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="@Model.ImageUrlThumb1">
            ----------------- PLAYER  --------------
        </div>
        <div class="col-md-4">
            <h3>Project Description</h3>
            <p>@Model.Description</p>

        </div>

        <div class="col-md-4">
            <h3>Project Details</h3>
            <dl>
                <dt>Licence</dt>
                <dd>@Model.LicenceType</dd>
            </dl>

            <dl>
                <dt>Last Modification</dt>
                <dd>@Html.DisplayFor(m => m.ModifiedOn, "ShortDateString") </dd>
            </dl>


            <dl>
                <dt>Likes</dt>
                <dd>@Model.Likes </dd>
            </dl>

            <dl>
                <dt>Tags</dt>
                <dd>@Html.TagsLabelFor(@Model.Tags, "form-control")</dd>
            </dl>
        </div>
    </div>

</div><!-- /.container -->
@*@section scripts{
    @Scripts.Render("~/bundles/knockout")
    <script>

        function DetailVM() {
            var self = this;
            self.displayMode = ko.observable("display");

            self.btnEditClicked = function () {
                self.displayMode("edit");
                $.get('@Url.Action("Edit", new {id = Model.Id })', function (data) {
                    $('#MainContent').replaceWith(data);
                });
            };

        }

        ko.applyBindings(new DetailVM());

    </script>
}*@

