@model MoG.Domain.Models.Project
<div class="col-md-12">
    
</div>
<div class="col-md-4">
    <img class="img-responsive" src="@Model.ImageUrlThumb1">
    EDIT
</div>
<div class="col-md-4">
    <h3>Project Description</h3>
    <p>@Model.Description</p>

</div>

<div class="col-md-4">
    <h3>Project Details <button type="button" class="btn btn-primary" data-bind="click:btnSaveClicked "> Save</button>
<button type="button" class="btn btn-danger" data-bind="click:btnCancelClicked "> Cancel</button></h3>
    <dl>
        <dt>Licence</dt>
        <dd>@Model.LicenceType</dd>
    </dl>

    <dl>
        <dt>Last Modification</dt>
        <dd>@Html.DisplayFor(m => m.ModifiedOn, "ShortDateString") </dd>
    </dl>


    <dl>
        <dt>Likes</dt>
        <dd>@Model.Likes </dd>
    </dl>

    <dl>
        <dt>Tags</dt>
        <dd>@Html.TagsLabelFor(@Model.Tags, "form-control")</dd>
    </dl>
</div>
<script>

    function EditVM() {
        var self = this;
        self.displayMode = ko.observable("display");

        self.btnSaveClicked = function () {
            console.log("btnSavedClicked");
            //TODO : switch this to the edit.cshtml viewmodel
        };

        self.btnCancelClicked = function () {
            console.log("btnCancelClicked");
            //TODO : switch this to the edit.cshtml viewmodel
        };
    };
    ko.applyBindings(new EditVM());

</script>