@model MoG.Domain.Models.VMProjectFiles
@{
    ViewBag.Title = "Fichiers";
}

<div class="container">


    @Html.Partial("_TopNavigationTab", Model.Project)


    
    <div class="row">
        <div class="col-md-2 col-sm-4">
            <div class="bs-sidebar">
                <!-- sidebar -->
                @Html.Partial("_trackRefinementPanel", Model)

            </div>

        </div><!-- endof sidebar -->
        <div class="col-md-10">
            @if (Model.FilteredFiles.Count == 0)
            {
                <h3>@Resource.PROJECT_NoFiles</h3>
            }
            else
            {
               

                int counter = 0;
                <table class="table fileList">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Owner</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var file in Model.FilteredFiles.ToList())
                        {
                            <tr>
                                <td><a href="@Url.Action("Display","File",new { id=file.Id})" class="hidden-xs hidden-sm" ><img src="@Url.Content(MoG.Code.FileIconPng.GetIconPath(file.Path))" class="img-responsive"></a></td>
                                <td>
                                   
                                    <a href="@Url.Action("Display","File",new { id=file.Id})">@file.DisplayName</a>
                                </td>
                                <td>@Html.DisplayFor(model => model.FilteredFiles[counter].CreatedOn) </td>
                                <td>@file.FileStatus</td>
                                <td>
                                    <img src="@file.Creator.PictureUrl" class="img-responsive img-circle left hidden-xs hidden-sm" />
                                <a href="@Url.Action("Profile", "Social", new { id = file.Creator.Id})">@file.Creator.DisplayName</a></td>
                                <td><a href="@Url.Action("Display","File",new { id=file.Id})" class="btn btn-default">@Resource.FILE_DetailTitle</a></td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
             
               
            }
        </div>
    </div><!-- /.container -->
</div>


@section Scripts{
    @Scripts.Render("~/bundles/knockout")

    @*<script type="text/javascript" src="/Scripts/Views/Project/Detail.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Project/BtnFollow.js")"></script>

    <script>
        var projectDetailBindingRoot = new BtnFollowVM({
            id: '@Model.Project.Project.Id',
            urlLike: '@Url.Action("ILike", "Like")',
            urlFollow: '@Url.Action("Follow", "Follow")',
            urlUnFollow: '@Url.Action("UnFollow", "Follow")',
            isFollowed: '@Model.Project.IsFollowed'
        });



        ko.applyBindings(projectDetailBindingRoot);

    </script>
}