@model MoG.Domain.Models.VMProjectFiles
@{
    ViewBag.Title = "Fichiers";
}

<div class="container">


    @Html.Partial("_TopNavigationTab", Model.Project)


    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4">
            <div class="bs-sidebar">
                <!-- sidebar -->
               @Html.Partial("_trackRefinementPanel",Model)

            </div>

        </div><!-- endof sidebar -->
        <div class="col-md-10">
            @{
                int counter = 0;
                foreach (var file in Model.FilteredFiles.ToList())
                {
                    <div class="row">
                        <div class="col-md-1">
                            <p><i class="icon-camera icon-2x"></i></p>
                            <p>@Html.DisplayFor(model => model.FilteredFiles[counter].CreatedOn) </p>
                        </div>
                        <div class="col-md-2">
                            <a href="track-detail.html"><img src="http://placehold.it/100x100" class="img-responsive"></a>
                        </div>
                        <div class="col-md-4">
                            <h3><a href="@Url.Action("Display","File",new { id=file.Id})">@file.Name</a></h3>
                            <p>---------------PLAYER ----------- <i class="icon-cloud-download"></i>&nbsp;<i class="icon-trash"></i>&nbsp;<i class="icon-heart"></i></p>

                        </div>
                        <div class="col-md-1">@file.DownloadCount</div>
                        <div class="col-md-1">@file.FileStatus</div>
                        <div class="col-md-1">@file.Tags</div>
                        <div class="col-md-1">@file.Likes</div>
                        <div class="col-md-1">@file.PlayCount</div>
                    </div>

                    <hr>
                    counter++;
                }
            }
        </div>
    </div><!-- /.container -->
</div>