@model MoG.Domain.Models.ViewModel.VMProjectList

@{

    int index = 0;
}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <div class="col-lg-4">
            <p>
                &nbsp;<br /><br />
                <a href="@Url.Action("Create")" class="btn btn-primary btn-lg btn-block btn-success">Créer un nouveau projet</a>
            </p>
        </div>
    </div><!-- /.row -->
    @{
        var iterator = Model.Projects.GetEnumerator();
        iterator.MoveNext();
        do
        {
            
            <div class="row">
                @for (int j = 0; j < 3 && iterator.Current != null; j++)
                {
                    var project = iterator.Current;

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a href="@Url.Action("detail", new { id = project.Id })">
                                <img class="img-responsive" src="@project.ImageUrl">
                            </a>
                            <div class="caption">

                                <div class="content-heading">
                                    <h4>@Html.ActionLink(project.Name, "detail", new { id = project.Id })</h4>

                                </div><span class="badge  color_good  pull-right"><span class="glyphicon glyphicon-heart">@project.Likes</span></span>

                                <p>@project.Description</p>

                            </div>
                        </div>
                    </div>
                    iterator.MoveNext();
                }
            </div>

        } while (iterator.Current != null);
    }

    <hr>
    <div class="row text-center">

        <div class="col-lg-12">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div> <!--container-->
