@model MoG.Domain.Models.MoGFile

<div class="col-md-8">
    @if (!String.IsNullOrEmpty(Model.ThumbnailUrl))
    {
        @*<img class="img-responsive" src="@Url.Content(@Model.ThumbnailUrl)"><br />*@
        <ul class="playlist">
                        <li>
                            <a href="@Url.Content("~/Content/data/07.mp3")">MaBenz</a>
                            <div class="metadata">
                                 <div class="duration">4:07</div>
                                <ul>
                                    <li><span>Electric razor</span><span>0:00</span></li>
                                    <li><span>Water</span><span>2:00</span></li>
                                    <li><span>More razor work</span><span>2:10</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
    }
    else
    {
        <img class="img-responsive" src="http://placehold.it/750x200"><br />
    }
    @Html.TagsLabelFor(Model.Tags, "")
</div>

<div class="col-md-4">
    <h4>@Resource.FILE_Detail</h4>
    <dl>
        <dt>@Html.LabelFor(model => model.CreatedOn)</dt>
        <dd>@Html.DisplayFor(model => model.CreatedOn, "LongDateString")</dd>
    </dl>
    <dl>
        <dt>@Html.LabelFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
    </dl>
    @*<dl>
            <dt>@Html.LabelFor(model => model.Tags)</dt>
            <dd>@Html.DisplayFor(model => model.Tags)</dd>
        </dl>*@
    <dl>
        <dt>@Resource.FILE_Metrics</dt>
        <dd>@Resource.FILE_Played @Model.PlayCount | @Resource.FILE_Likes @Model.Likes | @Resource.FILE_Downloaded @Model.DownloadCount</dd>
    </dl>
</div>