@model MoG.Domain.Models.VMFile


    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive" src="@Model.ThumbnailUrl"><br />
                <input type="text" class="tm-input" />

                @Html.HiddenFor(f => f.Tags)
            </div>

            <div class="col-md-4">
                <h4>Detail de la piste</h4>
                <dl>
                    <dt>@Html.LabelFor(model => model.DisplayName)</dt>
                    <dd>@Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control" })</dd>
                </dl>
                <dl>
                    <dt>@Html.LabelFor(model => model.CreatedOn)</dt>
                    <dd>@Html.DisplayFor(model => model.CreatedOn, "LongDateString")</dd>
                </dl>
                <dl>
                    <dt>@Html.LabelFor(model => model.Description)</dt>
                    <dd>@Html.TextAreaFor(model => model.Description, new { @class="form-control"})</dd>
                </dl>
                @*<dl>
                        <dt>@Html.LabelFor(model => model.Tags)</dt>
                        <dd>@Html.DisplayFor(model => model.Tags)</dd>
                    </dl>*@
                <dl>
                    <dt>Metrics</dt>
                    <dd>played @Model.PlayCount | Likes @Model.Likes | Downloaded @Model.DownloadCount</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
    }

<script>
    $(".tm-input").tagsManager({ output: '#Tags' });
</script>