@{
    ViewBag.Title = "Home Page";
}



<div class="row headline">
    <!-- Begin Headline -->
    <!-- Slider Carousel
    ================================================== -->
    <div class="col-md-8">
        <div class="flexslider">
            <ul class="slides">
                <li><a href="#"><img src="@Url.Content("~/Content/img/gallery/slider-img-1.jpg")" alt="slider" /></a></li>
                <li><a href="#"><img src="@Url.Content("~/Content/img/gallery/slider-img-2.jpg")" alt="slider" /></a></li>
            </ul>
        </div>
    </div>

    <!-- Headline Text
    ================================================== -->
    <div class="col-md-4">
        <h3>
            Welcome to Flabbit. <br />
            Yet another online music collaboration site.
        </h3>
        <p class="lead">Right now we're in a private beta</p>
        <form class="form-inline" role="form">
            <p>

                <span data-bind="visible : !registered()">
                   If you are interested, drop us your email. 
                </span>
                <span data-bind="visible : registered">
                    thanks :) <br />
                    we'll keep in touch soon.
                </span>
                <div data-bind="visible : !registered()">

                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" data-bind="value:email" placeholder="Enter your email address">
                    </div>
                    <button data-bind="click : btnInviteMeClicked,enable : !isLoading()" class="btn btn-warning btn-sm">Invite Me!</button>

                </div>
            </p>
        </form>

    </div>
</div><!-- End Headline -->

@*<div class="row gallery-row">
    <!-- Begin Gallery Row -->

    <div class="col-md-12">
        <h5 class="title-bg">
            Recent projects
            <small>That were started out there</small>
            <button class="btn btn-xs btn-inverse hidden-phone" type="button">View all projects</button>
        </h5>

        <!-- Gallery Thumbnails
        ================================================== -->
        <div class="row clearfix no-margin">
            <ul class="gallery-post-grid holder">
                <!-- Gallery Item 1 -->
                <li class="col-md-3 gallery-item" data-id="id-1" data-type="illustration">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Custom Illustration</a>For an international ad campaign.</span>
                </li>
                <!-- Gallery Item 2 -->
                <li class="col-md-3 gallery-item" data-id="id-2" data-type="illustration">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">3 Color Poster Design</a>For a regional festival event.</span>
                </li>
                <!-- Gallery Item 3 -->
                <li class="col-md-3 gallery-item" data-id="id-3" data-type="web">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="#" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Ink Pen Illustration</a>Created for a best selling children's book.</span>
                </li>
                <!-- Gallery Item 4 -->
                <li class="col-md-3 gallery-item" data-id="id-4" data-type="video">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Custom Illustration</a>For an international add campaign.</span>
                </li>
                <!-- Gallery Item 5 -->
                <li class="col-md-3 gallery-item" data-id="id-5" data-type="web illustration">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Icon Design</a>Classic retro style illustration.</span>
                </li>
                <!-- Gallery Item 6 -->
                <li class="col-md-3 gallery-item" data-id="id-6" data-type="illustration design">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Animation Cell</a>Creative storyboard illustration</span>
                </li>
                <!-- Gallery Item 7 -->
                <li class="col-md-3 gallery-item" data-id="id-7" data-type="design">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Poster Ad Campaign</a>Regional ad for a local company.</span>
                </li>
                <!-- Gallery Item 8 -->
                <li class="col-md-3 gallery-item" data-id="id-8" data-type="web video">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Magazine Ad</a>For an international add campaign.</span>
                </li>
                <!-- Gallery Item 9 -->
                <li class="col-md-3 gallery-item" data-id="id-9" data-type="design">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Character Designs</a>For a feature film.</span>
                </li>
                <!-- Gallery Item 10 -->
                <li class="col-md-3 gallery-item" data-id="id-10" data-type="web design">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Poster and Ad Design</a>For an international add campaign.</span>
                </li>
                <!-- Gallery Item 11 -->
                <li class="col-md-3 gallery-item" data-id="id-11" data-type="illustration">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Website and Animation</a>For a local business.</span>
                </li>
                <!-- Gallery Item 12 -->
                <li class="col-md-3 gallery-item" data-id="id-12" data-type="illustration video">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                        <span class="gallery-icons">
                            <a href="@Url.Content("~/Content/img/gallery/gallery-img-1-full.jpg")" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                            <a href="gallery-single.htm" class="item-details-link"></a>
                        </span>
                    </span>
                    <a href="gallery-single.htm"><img src="@Url.Content("~/Content/img/gallery//gallery-img-1-4col.jpg")" alt="Gallery"></a>
                    <span class="project-details"><a href="gallery-single.htm">Branding Design</a>For an international add campaign.</span>
                </li>
            </ul>
        </div>
    </div>

</div><!-- End Gallery Row -->*@
@*<div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 data-bind="visible : !registered()">
                        Hi there ! <br />
                        How are you?
                    </h1>
                    <h1 data-bind="visible : registered">
                        thank you :) <br />
                        We'll keep in touch soon.
                    </h1>
                    <div data-bind="visible : !registered()">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" data-bind="value:email" placeholder="Enter your email address">
                            </div>
                            <button data-bind="click : btnInviteMeClicked,enable : !isLoading()" class="btn btn-warning btn-lg">Invite Me!</button>
                        </form>
                    </div>


                </div><!-- /col-lg-6 -->
                <div class="col-lg-6">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/ipad-hand1.png")" alt="">
                </div><!-- /col-lg-6 -->

            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /headerwrap -->*@


@section Scripts
{
    @Scripts.Render("~/bundles/knockout")

    <script>


        $(window).load(function () {

            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });

        function HomeVM() {
            var self = this;
            self.email = ko.observable();
            self.registered = ko.observable();
            self.isLoading = ko.observable(false)

            self.btnInviteMeClicked = function () {
                self.isLoading(true);

                if (self.email() && self.validateEmail(self.email())) {
                    var url = '/Home/InviteMe';
                    var data = { email: self.email() };


                    $.ajax(url,
                        {
                            type: 'POST',
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            dataType: 'json',
                            error: function (data) { alert(data); },
                            success: function (data) {
                                if (data) {
                                    self.registered(true);
                                }
                            }
                        }
                   );


                }
                self.isLoading(false);
            }
            self.validateEmail = function (email) {

                var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

                return filter.test(email);
            }

        }

        ko.applyBindings(new HomeVM());
    </script>
}
