@model IEnumerable<MogMockup.Models.ViewModel.Project>

@{
  
    int index = 0;
}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <div class="col-lg-4">
            <p>
                &nbsp;<br /><br />
                <a href="@Url.Action("Create")" class="btn btn-primary btn-lg btn-block btn-success">Créer un nouveau projet</a>
            </p>
        </div>
    </div><!-- /.row -->
    
    @foreach (MogMockup.Models.ViewModel.Project p in Model)
    {
        if (index % 3 == 0)
        {
            @:<div class="row">
        }

        <div class="col-md-4 portfolio-item">

            <a href="@Url.Action("detail", new { id =p.Id })"><img class="img-responsive" src="@p.ImageUrl"></a>
            <h3>@Html.ActionLink(p.Name, "detail", new { id = p.Id })</h3>
            <p>
                @p.Description
            </p>
        </div>
        {
        index++;
        }
        if (index % 3 == 0)
        {
            @:        </div>
        }
    }
    <hr>
    <div class="row text-center">

        <div class="col-lg-12">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div> <!--container-->
