<!-- left, vertical navbar -->

<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        @Html.MenuItem(Resource.MAIL_Inbox, "Received", "Message")
        @Html.MenuItem(Resource.MAIL_Sent, "Sent", "Message")
        @Html.MenuItem("Mentions", "Mention", "Message")
        @Html.MenuItem("Rechercher", "Search", "Message")
        @Html.MenuItem("Live Chat", "Chat", "Message")
    </ul>
</div>

