
<!-- left, vertical navbar -->

<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        @Html.MenuItem(@Resource.PROFILE_MySettings, "index", "Profile")
        @Html.MenuItem(@Resource.PROFILE_Storage, "storage", "Profile")
        @Html.MenuItem(@Resource.PROFILE_Avatar, "avatar", "Profile")
        @*@Html.MenuItem(@Resource.PROFILE_Alerts, "alert", "Profile")*@
        @Html.MenuItem(@Resource.PROFILE_Dashboard, "dashboard", "Profile")
        @Html.MenuItem(@Resource.COMMON_DownloadCart, "index", "downloadcart")
    </ul>
</div>

