
<!-- left, vertical navbar -->

<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        @Html.MenuItem("Mes infos", "index", "Profile")
        @Html.MenuItem("Stockage", "storage", "Profile")
        @Html.MenuItem("Avatar", "avatar", "Profile")
        @Html.MenuItem("Alerte", "alert", "Profile")
        @Html.MenuItem("Tableau de bord", "dashboard", "Profile")
    </ul>
</div>

